<% provide(:title, 'Sign up') %>
<% provide(:sectionclass, "text-center content-section") %>
<% provide(:divclass, "none") %>

</div>
</div>
</div>


    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-offset-1">
                <h1>Sign up</h1>
                <p class="lead">Why should you join? Simple, all these reasons here:</p>
                <ul>
                    <li>Reason1</li>
                    <li>Reason2</li>
                </ul>
                <p>And thats why you should join</p>
            </div>
  <div class="col-md-6 col-md-offset-1">
    <%= render 'shared/user_form' %>
  </div> 
  </div> 
  </div>

  </div>
  </div>

  </section>