 <% provide(:title, "About") %>
 <% provide(:sectionclass, "text-center about-section") %>
 <% provide(:divclass, "about") %>

 
                <h2 class="red">How does it work?</h2>
                <p>We're Teas on the Loose, and we want to turn casual tea drinkers into life-long tea enthusiasts. Every month we send you two new teas to expand your palate; world famous blends, adventurous exotics, and classic flavors all shipped straight to you.</p>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <%= image_tag asset_url("packaging-photo-square.jpg"), alt: "Hand-made luxury tea packaging", class: "img-responsive img-circle profile" %>
                        <h3>
                            Step 1
                        </h3>
                        <p>
                            Join our 6 or 12 month tea subscription box.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <%= image_tag asset_url("tea-variety.jpg"), alt: "Luxury tea sourced from all over the world", class: "img-responsive img-circle profile" %>
                        <h3>
                            Step 2
                        </h3>
                        <p>
                            Get two hand-selected teas every month shipped straight to you.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                 <%= image_tag asset_url("cat-cup-450.jpg"), alt: "Luxury tea enjoyed from home", class: "img-responsive img-circle profile" %>

                        <h3>
                            Step 3
                        </h3>
                        <p>
                            Enjoy new and interesting teas from all over the world in the comfort of your home.
                        </p>
                    </div>
                </div>


                <!--<p>Started by a caffeine junkie with a passion for the ritual of loose-leaf tea; Teas on the Loose is an opportunity for me to share my love of tea with others.</p>
                -->
                <!--<div class="col-lg-6 col-lg-offset-3">
                <img src="./img/cropped-pic-of-me.jpg" class="img-responsive img-circle profile">
                <h4>Candice M.</h4>
                <p>Co-Founder, Product &amp; Brand</p>
                <p class="small">Candice is an artist, entrepreneur, and of course, tea lover. Favorite tea: Caramel Pu-erh, splash of milk.</p>
                </div>
                -->
                
                <!--picture of me-->
                </div>
               <!-- 
 <div class="col-lg-5 col-lg-offset-1">
                <img src="./img/ray-img-05.png" class="img-responsive img-circle profile">
                <h4>Ray S.</h4>
                <p>Co-Founder, Administration</p>
                <p class="small">Favorite tea: Gunpowder Green</p>
                <!~~picture of ray~~>
                </div>
 -->
                
                
        </div>
        </div>
        </div>
    </section>