<% provide(:title, "Cancel") %>
 <% provide(:sectionclass, "intro intro-thanks") %>
 <% provide(:divclass, "intro-body") %>

<%= render 'layouts/opening_section' %>
                        <h1 class="brand-heading">Purchase Cancelled</h1>
                        <p class="intro-text">We're sorry we aren't what you're looking for, we've cancelled your purchase session.</p>
                        </div>
                </div>
            </div>
             <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Is there any way to make your experience better? Let us know:</p>
               
                
                <a href="mailto:info@teasontheloose.com?Subject=My%20TOTL%20Experience" class="btn btn-default btn-default-small-screen btn-lg">
                    <i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">info@teasontheloose.com</span></a>
                    
            </div>
        </div>
        </div>
    </section>
