 <% provide(:title, "Contact") %>
 <% provide(:sectionclass, "container content-section text-center") %>
 <% provide(:divclass, "intro-body") %>
<%= render 'layouts/opening_section' %>
                <h2>Contact Teas on the Loose</h2>
                <p>Have a question, comment, or just want to talk tea? Send us a note!</p>
                <p><a class="email" href="mailto:info@teasontheloose.com">info@teasontheloose.com</a></p>
                
                
                <ul class="list-inline banner-social-buttons">
                    <li><a href="http://twitter.com/TeasontheLoose" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li><a href="http://www.pinterest.com/teasontheloose/" class="btn btn-default btn-lg"><i class="fa fa-pinterest fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li><a href="https://www.facebook.com/teasontheloose" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li><a href="http://instagram.com/teasontheloose" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li><a href="https://plus.google.com/102017966332122579081" rel="publisher" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                </ul>
                <br />
                <p>Started by a caffeine junkie with a passion for the ritual of loose-leaf tea; Teas on the Loose is an opportunity for me to share my love of tea with others.</p>

                <div class="col-lg-6 col-lg-offset-3">
                    <%= image_tag "cropped-pic-of-me.jpg", alt: "Candice is a luxury tea entrepreneur", class: "img-responsive img-circle profile" %>
                <h4>Candice M.</h4>
                <p>Co-Founder</p>
                <p>Candice is an artist, entrepreneur, and of course, tea lover. Favorite tea: Banana Bread Chai.</p>
                </div>


                <!--picture of me-->
            </div>
        </div>
    </section>