<% provide(:title, "FAQ") %>
<section class="content-section text-center">
     
        <div id="faq" class="faq-section">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

<h3>How much tea do I receive every month?
</h3>
<p>Every month you receive two different teas with a net weight of two ounces each, for a total of four ounces of tea per month, for the duration of your subscription. That's enough tea for about twenty cups of each, depending on the type of tea, not counting multiple steepings.
</p>
<h3>How do I know what kind of tea I will receive?
</h3>
<p>You won't know until you receive them. Every month is different and you never get the same one twice.
</p>
<h3>What if I don't like a tea?
</h3>
<p>We send two teas every month for that very reason. Tea has an amazing variety of flavors and strengths; not everybody is going to like all of them, so we select our monthly teas with that mindset and match stronger teas with milder ones.
</p>
<h3>If I receive a tea that I like, can I buy it separately, or in larger quantities?
</h3>
<p>Not at this time, but it is something we are considering in the future.
</p>
<h3>Do different teas need to be brewed differently?
</h3>
<p>Yes, adjusting temperature, brew time, and amount of tea used will improve flavor. Each package includes specific brew instructions on the back.
</p>
<h3>What if I want to start a subscription as a gift?
</h3>
<p>After you follow the link to pay through Paypal, just fill in your loved one's address in the shipping information section, and yours in the billing information section.
</p>
<h3>Can I set up auto-renewal?
</h3>
<p>Not at this time, but it is something we are actively working to include.
</p>
<h3>What if I want to end my subscription?
</h3>
<p>While we are sorry to see you go, our cancellation policy will allow you to end your subscription at anytime and receive your money back for any months left on your subscription we have not shipped for yet.
</p>
</div>
</div>
</div>
</div>
</section>