<% provide(:title, "Our Tea") %>
<section id="ourTea" class="text-center our-tea-section">
    
            <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <h2>Our Tea</h2>
                
                 <div class="row">
                 
                    <div class="col-lg-6 col-sm-12">
                        <h3>
                            Passion
                        </h3>
                        <p>
                           Every one of our teas is hand-selected and carefully considered, 
                           we sample dozens of variations to bring you the best experience,
                            we sift through the chaff to find the finest quality of tea crop every year from all over the world.
                           
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h3>
                            Knowledge
                        </h3>
                        <p>
                           Years of research and testing hundreds of teas, and traveling the globe to find the most distinct <em>terriors</em> have given us the knowledge 
                           to choose perfect teas for tea-lovers, and provide a wide selection of new experiences for the budding tea-enthusiast.
                           
                        </p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <h3>
                            Quality
                        </h3>
                        <p>
                           Our full leaf teas are of the finest quality, with a personal touch at every place in their production. It begins with the 
                           farmers that hand-pluck each plant at the peak of harvest and hand-shape each leaf into distinctive shapes; curly, flat, wiry, or rolled. Then, 
                           We personally test every tea we buy to find the most exquisite taste, aroma, body, and mouthfeel. 
                           And every one of our teas is packaged carefully by hand in our artisan packaging, created by local Atlanta artists.
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h3>
                            Community
                        </h3>
                        <p>
                           Tea is more than a beverage, it's a ritual, a ceremony, a symbol of hospitality. We love tea, and we want to share that passion with 
                           the world. Ever wondered what the difference between a Japanese and Chinese green tea? Want to know more about our teas and methods? Contact us, let us share a cup and conversation with you 
                           to help you discover new and interesting teas. 
                        </p>
                    </div>
                
                    </div>
                    <div class="row">
                    <ul class="list-inline banner-social-buttons">
                    <li><a href="http://twitter.com/TeasontheLoose" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li><a href="http://www.pinterest.com/teasontheloose/" class="btn btn-default btn-lg"><i class="fa fa-pinterest fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li><a href="https://www.facebook.com/teasontheloose" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li><a href="http://instagram.com/teasontheloose" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li><a href="https://plus.google.com/102017966332122579081" rel="publisher" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                </ul>
                    </div>
                    
                    
                </div>

</div>
                
                
        </div>

    </section>
