<% provide(:title, "Terms and Conditions") %>
 <% provide(:sectionclass, "content-section text-center") %>
 <% provide(:divclass, "terms-section") %>
<%= render 'layouts/opening_section' %>

     

                    <h2>Terms and Conditions</h2>
                    <p>Welcome to Teas on the Loose! The Teas on the Loose Website and services are provided by Teas on the Loose (“Teas on the Loose”, “we” “us” or “our”). These terms and conditions (these “Terms and Conditions”) govern your (“you” or “your”) access to and
                        use of the www.teasontheloose.com web site (the “Website”) and all services provided by Teas on the Loose via the Website including without limitation our monthly product and gift service (collectively, the “Services”). Teas on the Loose provides
                        a subscription service for monthly delivery of loose leaf tea products for you or as a gift to others. Access to the Website, use of the Services, and purchase of the Products is subject to these Terms and Conditions and the Teas on the Loose Privacy
                        Policy available on the Website.
                    </p>
                    <h3>Acceptance of Terms</h3>
                    
                    <p>By using our Website or subscribing to our Services, you indicate your unconditional acceptance of the following Terms and Conditions. Please read them carefully, as they may have changed since your last visit. The most recent version of these Terms and
                        Conditions may be viewed at teasontheloose.com/terms-conditions.
                    </p>
                    <h3>Scope of Service</h3>
                    
                    <p>Teas on the Loose maintains this Website as a service to the user community that visits the Website subject to these Terms and Conditions. You are responsible for obtaining any equipment and Internet service necessary to access our Website and for paying
                        any fees for the equipment and service you select. We may alter, suspend, or discontinue this Website or the Services in whole or in part, at any time and for any reason, without notice. The Website may also periodically become unavailable due to
                        maintenance or malfunction of computer equipment or for other reasons.
                    </p>
                    <h3>Website Content
                    </h3>
                    <p>Users have a personal, non-transferable, non-exclusive right to access and use the Content of this Website subject to these Terms and Conditions. The term “Content” means all information, text, images, data, links, software, or other material accessible
                        through the Website or Services, whether created by us or provided by another person for display on the Website or through the Services. The Content may contain typographical errors, other inadvertent errors or inaccuracies. We reserve the right to
                        make changes to document names and content, descriptions or specifications of products or services, or other information without obligation to issue any notice of such changes.
                    </p>
                    <p>You may view, copy, download, and print Content that is available on this website or through the Services, subject to the following conditions:
                    </p>
                    <ul>
                        <li>The Content may be used solely for internal informational purposes. No part of this website or its Content may be reproduced or transmitted in any form, by any means, electronic or mechanical, including photocopying and recording for any other purpose.
                        </li>
                        <li>The Content may not be modified.
                        </li>
                        <li>Copyright, trademark, and other proprietary notices may not be removed.
                        </li>
                    </ul>
                    
                    <p>Nothing contained on this Website should be construed as granting, by implication, estoppel, or otherwise, any license or right to use this Website or any Content displayed on this Website, through the use of framing or otherwise, except: (a) as expressly
                        permitted by these terms of use; or (b) with our prior written permission or the permission of such third party that may own the trademark or copyright of material displayed on this Website.
                    </p>
                    <h3>Monthly Delivery
                    </h3>
                    <p>As a subscribed Teas on the Loose member, each month we will ship you a package with a different selection of two teas that may consist of a selection from any of the following types of tea: white, green, yellow, oolong, black, dark, herbal, mate, rooibos;
                        they may be flavored or unflavored; they may be a blend of teas, they may contain nuts or any other type of dietary allergen (“Products”). Each month of your subscription, the selection of Products may change. Accordingly, Teas on the Loose cannot
                        guarantee that a selection available in a particular timeframe will be available in any subsequent timeframe.
                    </p>
                    <p>BY SUBSCRIBING YOU AGREE TO PAY THE FEE FOR THE PRODUCTS THAT ARE SUPPLIED EACH MONTH.
                    </p>
                    <h3>Billing and Payments
                    </h3>
                    <p>All information that you provide to register with Teas on the Loose is subject to our Privacy Policy. The price of the Services and/or goods is payable in full before delivery. We process payments with Paypal. You must have a Paypal account to purchase
                        our service. You must use Paypal to purchase our service. You will be charged in full, once, before any services are rendered. For your convenience and continuous subscription benefits as a member, if your payment method reaches its expiration date
                        and you do not edit your credit card information or cancel your account, you authorize us to continue billing that credit card on file including extending the expiration date until we are notified by you or the credit card company that the account
                        is no longer valid. We encourage you to constantly update your payment method information or cancel your account should you wish to not recure purchase of Products.
                    </p>
                    <h3>Shipping and Risk of Loss
                    </h3>
                    
                    <p>Unless otherwise indicated at the time of your purchase, shipping and handling fees are included with your order. Shipping dates and/or arrival times are only estimates. For loss/damage claims, you must notify Teas on the Loose within 30 days of the date
                        of your purchase if you believe all or part of your order is missing or damaged. You may reach Teas on the Loose at info@teasontheloose.com.
                    </p>
                    <p>Replacement of Products and credits to your account for shipped merchandise claimed as not received are subject to our investigation, which may include postal-service notification. We will adjust your account at our discretion. Repeated claims of undelivered
                        merchandise may result in the cancellation of your membership.
                    </p>
                    <p>Teas on the Loose does not ship outside the United States, and additional shipping charges may be applied for shipments outside the Continental United States (the states of Hawaii and Alaska).
                    </p>
                    <h3>Returns and Exchanges
                    </h3>
                    <p>If a Product is defective, you may return it and we will send you a new item or credit your account. To request a refund, please contact us at info@teasontheloose.com. When returning Products, it is your responsibility to take reasonable care to see that
                        the Products are not damaged in transit and are received by us at our address as displayed on the Website. All refunds are subject to our discretion. Refunds are at the sole discretion of Teas on the Loose.
                    </p>
                    <h3>Local Taxes
                    </h3>
                    <p>You may be charged local sales tax or VAT, if applicable.
                    </p>
                    <h3>International Access
                    </h3>
                    <p>This Website may be accessed from countries other than the United States. This Website and the Services may contain products or references to products that are only available within the United States and U.S. territories. Any such references do not imply
                        that such products will be made available outside the United States. If you access and use this Website outside the United States you are responsible for complying with your local laws and regulations. Our products are not available outside the United
                        States.
                    </p>
                    <h3>Membership Cancellations
                    </h3>
                    <p>We may terminate your membership, without notice, for conduct we believe violates these Terms and Conditions or our policies, or is harmful our business interests.
                    </p>
                    <h3>Limitation of Liability
                    </h3>
                    <p>IN NO EVENT SHALL TEAS ON THE LOOSE OR ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AFFILIATES BE LIABLE TO ANY USER OF THIS WEBSITE OR ANY OTHER PERSON OR ENTITY FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES (INCLUDING,
                        BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, LOSS OF DATA, LOSS OF USE, OR COSTS OF OBTAINING SUBSTITUTE GOODS OR SERVICES) ARISING OUT OF THE USE, INABILITY TO USE, UNAUTHORIZED ACCESS TO OR USE OR MISUSE OF THE PRODUCTS OR THE WEBSITE OR ANY
                        INFORMATION CONTAINED THEREON, WHETHER BASED UPON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, EVEN IF HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES. YOU AGREE TEAS ON THE LOOSE’S TOTAL CUMULATIVE LIABILITY IN CONNECTION
                        WITH THESE TERMS AND CONDITIONS, THE WEBSITE, THE CONTENT, OR ANY PRODUCT OR SERVICES WHETHER IN CONTRACT, TORT, OR OTHERWISE, SHALL NOT EXCEED THE AMOUNT YOU PAID TO TEAS ON THE LOOSE IN THE THEN-PRIOR CALENDAR YEAR.
                    </p>
                    <h3>Indemnification
                    </h3>
                    <p>By using this Website, our Services, or supplied Products, you agree to indemnify, hold harmless and defend Teas on the Loose from any claims, damages, losses, liabilities, and all costs and expenses of defense, including but not limited to, attorneys'
                        fees, resulting directly or indirectly from a claim by a third party that arises in connection with use of this Website, Services, or Products by you or any other person accessing the Website using your identification.
                    </p>
                    <h3>Content Submitted by Users
                    </h3>
                    <h3>Accuracy:
                    </h3>
                    <p>
                    </p>You may use this Website (but not subscribe to our Services) without volunteering personally identifiable information. Please refer to our Privacy Policy for additional information on our practices for handling personally identifiable information. However,
                    if you choose to provide information to register for or participate in a service, event, or promotion on this Website or to use our Services, you agree that you will provide accurate, complete, and up to date information as requested on the screens that
                    collect information from you.
                    <h3>Liability:
                    </h3>
                    <p>We are not responsible or liable for the conduct of users or for any views, opinions and statements expressed in Content submitted for public display through our Website, such as through an online discussion forum or chat room. We do not prescreen information
                        posted to online discussion forums or chat rooms, if any. With respect to such forums and chat rooms, we are acting as a passive conduit for such distribution and are not responsible for Content. Any opinions, advice, statements, services, offers,
                        or other information in Content expressed or made available by users of an online discussion forum or chat room are those of the respective author(s) or distributor(s) and not of Teas on the Loose. We neither endorse nor guarantee the accuracy, completeness,
                        or usefulness of any such Content. You are responsible for ensuring that Content submitted to this Website is not provided in violation of any copyright, trade secret or other intellectual property rights of another person or entity. You shall be
                        solely liable for any damages resulting from any infringement of copyrights, trade secret, or other intellectual property rights, or any other harm resulting from your uploading, posting or submission of Content to this Website.
                    </p>
                    <h3>Monitoring:
                    </h3>
                    <p>We have the right, but not the obligation, to monitor Content submitted to our Website through an online discussion forum or chat room, to determine compliance with these Terms and Conditions and any other applicable rules that we may establish. We have
                        the right in our sole discretion to edit or remove any material submitted to or posted in any online discussion forum or chat room provided through this Website. Without limiting the foregoing, we have the right to remove any material that Teas on
                        the Loose, in its sole discretion, finds to be in violation of these Terms and Conditions or otherwise objectionable, and you are solely responsible for the Content that you post to this Website.
                    </p>
                    <h3>Lobbying:
                    </h3>
                    <p>Federal law restricts lobbying activities by tax-exempt organizations. “Lobbying” includes certain activities intended to influence legislation. Content posted by users does not constitute lobbying by Teas on the Loose, but may constitute lobbying by
                        you or an organization that you represent. You are responsible for complying with any applicable lobbying restrictions.
                    </p>
                    <h3>Prohibited Content
                    </h3>
                    <p>By accessing our Website or any chat room, online discussion forum, or other service provided through our Website, you agree to abide by the following standards of conduct. You agree that you will not, and will not authorize or facilitate any attempt
                        by another person to use our Website or any related chat room or online discussion forum to:
                    </p>
                    <ul>
                        <li>Transmit any Content that is unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, offensive, obscene, pornographic, lewd, lascivious, or otherwise objectionable, as determined by Teas on the Loose.
                        </li>
                        <li>Use a name or language that Teas on the Loose, in its sole discretion, deems offensive.
                        </li>
                        <li>Post defamatory statements.
                        </li>
                        <li>Post hateful or racially or ethnically objectionable Content.
                        </li>
                        <li>Post Content which infringes another's copyright, trademark or trade secret.
                        </li>
                        <li>Post unsolicited advertising or unlawfully promote products or services.
                        </li>
                        <li>Harass, threaten or intentionally embarrass or cause distress to another person or entity.
                        </li>
                        <li>Impersonate another person.
                        </li>
                        <li>Exploit children under 18 years of age.
                        </li>
                        <li>Engage in disruptive activity such as sending multiple messages in an effort to monopolize the forum.
                        </li>
                        <li>Introduce viruses, worms, Trojan horses and/or harmful code to the Website.
                        </li>
                        <li>Obtain unauthorized access to any computer system through the Website.
                        </li>
                        <li>Invade the privacy of any person, including but not limited to posting personally identifying or otherwise private information about a person without their consent (or their parent’s consent in the case of a child under 13 years of age).
                        </li>
                        <li>Solicit personal information from children under 13 years of age.
                        </li>
                        <li>Violate any federal, state, local, or international law or regulation.
                        </li>
                        <li>Encourage conduct that would constitute a criminal or civil offense.</li>
                    </ul>
                    <h3>Submitted Content
                    </h3>
                    <p>Teas on the Loose does not claim ownership of any materials you make available through the Website. With respect to any materials you submit or make available for inclusion on the Website, you grant Teas on the Loose a perpetual, irrevocable, non-terminable,
                        worldwide, royalty-free and non-exclusive license to use, copy, distribute, publicly display, modify, create derivative works, and sublicense such materials or any part of such materials. You hereby represent, warrant and covenant that any materials
                        you provide do not include anything (including, but not limited to, text, images, music or video) to which you do not have the full right to grant Teas on the Loose the license specified above. You further represent, warrant and covenant that any
                        materials you provide will not contain libelous or otherwise unlawful, abusive or obscene material. Teas on the Loose will be entitled to use any content submitted by you without incurring obligations of confidentiality, attribution or compensation
                        to you.
                    </p>
                    <h3>Minors
                    </h3>
                    <p>Teas on the Loose services are available only to, and may only be used by, individuals who are 18 years and older who can form legally binding contracts under applicable law. Individuals under the age of 18 can use this service only in conjunction with
                        and under the supervision of a parent or legal guardian. In this case, the adult is the user and is responsible for any and all activities, subscribers and purchasers.
                    </p>
                    <h3>Intellectual Property Rights
                    </h3>
                    <p>Unless otherwise noted, all Content contained on this Website is the property of Teas on the Loose and/or its affiliates or licensors, and is protected from unauthorized copying and dissemination by United States copyright law, trademark law, international
                        conventions and other intellectual property laws. Product names are trademarks or registered trademarks of their respective owners. We do not claim ownership of Content submitted by users without compensation by Teas on the Loose and with the expectation
                        that such Content will be made publicly accessible through our Website. By submitting such Content, however, you agree to grant us a world-wide, royalty-free, perpetual, irrevocable, non-exclusive license to use, distribute, reproduce, modify, adapt,
                        create derivative works from, and publicly perform or display such Content. This license shall remain in effect until we delete the Content from our systems.
                    </p>
                    <h3>Copyright Infringement; Notice and Take Down Procedures
                    </h3>
                    <p>If you believe that any materials on this Website infringe your copyright, you may request that they be removed. This request must bear a signature (or electronic equivalent) of the copyright holder or an authorized representative and must include the
                        following information: (1) identification of the copyrighted work that you believe to be infringed, including a description of the work and, where possible, a copy or the location of an authorized version of the work; (2) identification of the material
                        that you believe to be infringing and its location, including a description of the material, its Website location or other pertinent information that will help us to locate the material; (3) your name, address, telephone number, and email address;
                        (4) a statement that you have a good faith belief that the complained of use of the materials is not authorized by the copyright owner, its agent, or the law; (5) a statement that the information in your claim is accurate; and (6) a statement that
                        "under penalty of perjury," you declare that you are the lawful copyright owner or are authorized to act on the owner’s behalf.
                    </p>
                    <p>In an effort to protect the rights of copyright owners, we maintain a policy for the termination, in appropriate circumstances, of users of this Website who are repeat infringers.
                    </p>
                    <h3>Security
                    </h3>
                    <p>When you register to participate in Teas on the Loose services on this Website, you may be required to establish a login identifier and a password. You are responsible for protecting your login and password from unauthorized use, and you are responsible
                        for all activity that occurs on your account (including without limitation financial obligations). You agree to notify us immediately if you believe that your login or password has been or may be used without your permission so that appropriate action
                        can be taken. We are not responsible for losses or damage caused by your failure to safeguard your login and password.
                    </p>
                    <h3>Disclaimer of Warranty
                    </h3>
                    <p>YOU ARE SOLELY RESPONSIBLE FOR DETERMINING IF THE PRODUCTS ARE SUITABLE FOR YOUR CONSUMPTION. WE DISPLAY ALLERGEN INFORMATION ON OUR PACKAGING BUT WE ARE NOT ABLE TO PROVIDE ANY ASSURANCES REGARDING ALLERGIES SHOULD YOU CHOOSE TO CONSUME A PRODUCT.
                    </p>
                    <p>Under no circumstances will we be liable for any loss or damage caused by your use of the Products or your reliance on information in any Content on this Website. YOU AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY ARISING FROM OR RELATING IN ANY WAY TO ANY
                        PRODUCT SHALL BE ITS REPLACEMENT OR A CREDIT TOWARDS A PRODUCT REPLACEMENT, IN TEAS ON THE LOOSE'S DISCRETION.
                    </p>
                    <p>YOU MAY RETURN DEFECTIVE PRODUCTS WITHIN THIRTY (30) DAYS OF DELIVERY. EXCEPT AS EXPRESSLY PROVIDED HEREIN, ALL PRODUCTS SUPPLIED, AND ALL TEXT, IMAGES, AND OTHER INFORMATION ON OR ACCESSIBLE FROM THIS WEBSITE ARE PROVIDED "AS IS" WITHOUT WARRANTY OF
                        ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. SPECIFICALLY, BUT WITHOUT LIMITATION, TEAS ON THE LOOSE DOES NOT WARRANT THAT: (i)
                        THE INFORMATION AVAILABLE ON THIS WEBSITE IS FREE OF ERRORS; (ii) THE PRODUCTS OR SERVICES ARE NOT DEFECTIVE; (iii) THE FUNCTIONS OR SERVICES (INCLUDING BUT NOT LIMITED TO MECHANISMS FOR THE DOWNLOADING AND UPLOADING OF CONTENT) PROVIDED BY THIS WEBSITE
                        WILL BE UNINTERRUPTED, SECURE, OR FREE OF ERRORS; (iv) DEFECTS WILL BE CORRECTED, OR (v) THIS WEBSITE OR THE SERVER(S) THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
                    </p>
                    <h3>Exclusions
                    </h3>
                    <p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
                    </p>
                    <h3>Links to Third-Party Websites
                    </h3>
                    <p>This Website may contain links to third party Websites that are provided to you as a convenience. Any outside Website accessed from our Website is independent from Teas on the Loose, and we have no control over the content of such Websites. We are not
                        responsible for the content of any linked Website or for any loss or damage incurred in connection with your use such links or dealings with the operators of such third party Websites.
                    </p>
                    <h3>No Implied Endorsements
                    </h3>
                    <p>In no event shall any reference to any third party or third party product or service be construed as an approval or endorsement by Teas on the Loose of that third party or of any product or service provided by a third party. Likewise, a link to any third
                        party Website does not imply that we endorse or accept any responsibility for the content or use of such a Website. Teas on the Loose does not endorse, warrant or guarantee any product or service offered by any third party through an online discussion
                        forum or chat room accessible through this Website and will not be a party to or in any way monitor any transaction involving any third party providers of products or services. As with the purchase of a product or service through any medium or in
                        any environment, you are responsible for exercising appropriate judgment and caution.
                    </p>
                    <h3>Jurisdictional Issues
                    </h3>
                    <p>We make no representation that information on this Website, or the Products or Services we provide, are appropriate or available for use outside the United States. Those who choose to access this Website from outside the United States do so on their own
                        initiative and at their own risk and are responsible for compliance with applicable local laws.
                    </p>
                    <h3>Termination
                    </h3>
                    <p>We may terminate any user’s subscription or access to our Website or Services, including access to any online discussion forum or chat room, in our sole discretion, for any reason and at any time, with or without prior notice. It is our policy to terminate
                        users who violate these terms and conditions, as deemed appropriate in our sole discretion. You agree that we are not liable to you or any third party for any termination of your access to our Website or Services.
                    </p>
                    <h3>Enforcement
                    </h3>
                    <p>These Terms and Conditions shall be governed and interpreted pursuant to the laws of the State of Georgia, United States of America, notwithstanding any principles of conflicts of law.
                    </p>
                    <p>All disputes arising out of or relating to these Terms and Conditions shall be finally resolved by arbitration conducted in the English language in Atlanta, GA U.S.A. under the commercial arbitration rules of the American Arbitration Association. The
                        parties shall appoint as sole arbitrator a retired judge who presided in the State of Georgia. The parties shall bear equally the cost of the arbitration (except that the prevailing party shall be entitled to an award of reasonable attorneys' fees
                        incurred in connection with the arbitration in such an amount as may be determined by the arbitrator). All decisions of the arbitrator shall be final and binding on both parties and enforceable in any court of competent jurisdiction. Notwithstanding
                        the foregoing, we shall be entitled to seek injunctive relief, security, or other equitable remedies from federal and state courts located in the State of Georgia or any other court of competent jurisdiction. Under no circumstances shall the arbitrator
                        be authorized to award punitive damages, including but not limited to federal or state statutes permitting multiple or punitive damage awards. Any purported award of punitive or multiple damages shall be beyond the arbitrator’s authority, void, and
                        unenforceable.
                    </p>
                    <h3>Severability
                    </h3>
                    <p>If any part of these Terms and Conditions is held to be unlawful, void, or unenforceable, that part will be deemed severable and shall not affect the validity and enforceability of the remaining provisions.
                    </p>
                    <h3>Entire Agreement
                    </h3>
                    <p>These Terms and Conditions constitute the entire agreement between the parties relating to the subject matter herein. We may, at our sole discretion and without notice, revise these terms at any time by updating this posting.
                    </p>
                    <h3>For Additional Information
                    </h3>
                    <p>If you have any questions about these Terms and Conditions, please contact info@teasontheloose.com.
                    </p>
                    </div>
                    </div>
                    </div>
                    </div>
                    </section>