   <section id="footer" class="text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <ul class="list-inline footer-nav">
                
               
					
  					
					<li><%= link_to "Privacy Policy", privacypolicy_path %></li>
                    
                   
                    <li><%= link_to "FAQ", faq_path %></li>
                
                    <%= link_to "Blog", 'http://www.teasontheloose.com/blog' %></li>
                    </li>
                    <li>&copy;Teas on the Loose 2014</li>
                </ul>
                
                
            </div>
        </div>
    </section>